.container{
    background-color: #00123a;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0;
}
.logo_container{
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0;
    margin-top: 1rem;
}
.logo_container2{
    display: flex;
    align-items: center;
    gap: 0;
}
.foto3{
    width: 7rem;
    border-radius: 50%;
    padding: 18px;
}
.rice_logo{
    width: 7rem;
}

.logo_text_container{
    width: 300px;
}
.text{
    font-size: 1.8rem;
    text-align: center !important;
    color: #fff;
}
.text3{ 
    font-size: 1.8rem;
    text-align: center !important;
     color: #fff;

}

.nic_com{

    display: flex;
}
.foto1{
  width: 300px;
  border-radius: 1rem;
  
}
.container2{
    height: 100%;
    padding-top: 2.5rem;
}
.text2{
    font-size: 4rem;
    text-align: center !important;
    font-weight: 700;
    color: #fff;
}