.hero_container {
    height: auto;
    background-color: #020d249d;
    border: 1px solid #ffffff13;
    padding: 1rem;
}



/* Contenedor adicional */
.hero_wrapper {
    text-wrap: balance;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.hero_paragraph_1 {
    font-size: 2.0rem;
    color: #fff;
    
}
.hero_text_p {
    padding: 0rem 0.5rem;
}



.hero_text_p h1 {

    width: 100%;
    color: #fff;
    font-size: 3rem;

    
}

.hero_text_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

.p_1 {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.p_1_com {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 100%;

}

.image_container_p1 {
    flex: 1;
    height: 600px;

}

.image_container_p2 {
    background-size: cover;
    flex: 1;
    border-radius: 0.5rem;
    height: 600px;
}

.hero_image {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    object-fit:cover;
    object-position: center top; 

}

.hero_text_p {
    flex: 1;
   
}


/* Bloque de texto */


/* P치rrafos generales */
.hero_paragraph {
    width: 100%;
    /* text-wrap: balance;
    text-align: justify; */
  

}

/* P치rrafo 1 */
.hero_paragraph_1 {
    /* padding-left: 1rem;
    padding-right: 1rem;
    width: 76%; */
}

/* P치rrafo 2 */
.hero_paragraph_2 {

}

/* P치rrafo 3 */
.hero_paragraph_3 {}