.hero_container {
    height: auto;
    background-color: #020d24;

}



/* Contenedor adicional */
.hero_wrapper {

    text-wrap: balance;
    height: auto;
}



.hero_paragraph_1 {
    font-size: 2.0rem;
    color: #fff;
    text-align: start;

    width: fit-content;
    margin-left: 2rem;


}

.hero_text_p {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.hero_text_p h1 {

    width: 100%;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.hero_text_block {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.p_1 {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

.p_1_com {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3rem;
    width: 100%;
}

.image_container_p1 {
    background-image: url('../../public/nicarao.jpg');
    background-size: cover;
    flex: 1;
    background-position-y: -150px;
    height: 600px;

}

.image_container_p2 {
    background-image: url('../../public/nicarao2.jpg');
    background-size: cover;
    flex: 1;
    background-position-y: -450px;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    height: 600px;
}

.hero_text_p {
    flex: 1;
}


/* Bloque de texto */


/* P치rrafos generales */
.hero_paragraph {}

/* P치rrafo 1 */
.hero_paragraph_1 {}

/* P치rrafo 2 */
.hero_paragraph_2 {}

/* P치rrafo 3 */
.hero_paragraph_3 {}