.nav_com {
    background-color: #fff;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}

.nav_com a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-left: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
}

.nav_com a:hover {

    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    
}