.nav_com {
    background-color: #ffffffa2;
    padding: 1.2rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
 
    border: 1px solid #00000000;
    animation:  0.8s ease-out all;

   
}
.nav_com:hover {
    background-color: #ffffff;
    animation:  0.8s ease-out all;

}
.nav_item{
   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav_com a {
    color: #00123a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav_com a:hover {

    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    
}
